* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body,
html {
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}

/* start header */
header {
  background: #74c69d;
  display: flex;
  padding: 35px 135px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
}
header .logo {
  width: 187px;
  height: 50px;
  z-index: 1;
}
header .hamburger {
  display: none;
  cursor: pointer;
  z-index: 1;
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding-left: 30px;
  font-size: 20px;
  line-height: 125%;
  cursor: pointer;
}
header nav ul li a {
  color: #ffffff;
  font-weight: 400;
}
.active-nav {
  background: #74c69d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transform: translateY(-117%);
  transition: transform ease-in-out 700ms;
  display: none;
}
.active-nav ul {
  text-align: center;
}
.active-nav ul li {
  padding: 30px 0;
}
.active-nav ul li a {
  color: #ffffff;
  font-weight: 400;
}
header nav ul li a.active,
.active-nav ul li a.active {
  font-weight: 700;
}
@media (max-width: 768px) {
  header {
    padding: 17px 20px 0;
  }
  header .logo {
    width: 129px;
    height: 38px;
  }
  header nav {
    display: none;
  }
  header nav ul li {
    padding-left: 0;
  }
  header .hamburger,
  .active-nav {
    display: block;
  }
  .active-nav.open {
    transform: translateY(17%);
    position: fixed;
  }
  .active-nav.closed {
    transform: translateY(-117%);
    transition-delay: 250ms;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(200px);
    }
    75% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: translateX(500px);
    }
  }
  .active-nav.open ul li {
    animation: fadeIn cubic-bezier(0.3, 0.01, 0.49, 1) 750ms forwards;
    opacity: 0;
  }
  .active-nav.open ul li:nth-child(1) {
    animation-delay: 0ms;
  }
  .active-nav.open ul li:nth-child(2) {
    animation-delay: 100ms;
  }
  .active-nav.open ul li:nth-child(3) {
    animation-delay: 200ms;
  }
  .active-nav.open ul li:nth-child(4) {
    animation-delay: 300ms;
  }
  .active-nav.closed ul li {
    animation: fadeOut cubic-bezier(0.3, 0.01, 0.49, 1) 500ms forwards;
    opacity: 1;
  }
  .active-nav.closed ul li:nth-child(4) {
    animation-delay: 100ms;
  }
  .active-nav.closed ul li:nth-child(3) {
    animation-delay: 200ms;
  }
  .active-nav.closed ul li:nth-child(2) {
    animation-delay: 300ms;
  }
  .active-nav.closed ul li:nth-child(1) {
    animation-delay: 400ms;
  }
}
/* end header */

/* start home page */
/* start hero */
.hero {
  background: #74c69d;
  padding-bottom: 50px;
  margin-top: 4.8%;
}
@media (max-width: 1556px) {
  .hero {
    margin-top: 7.9%;
  }
}
.hero .container {
  background: #74c69d;
  color: #ffffff;
  display: flex;
  padding: 35px 135px 70px;
  justify-content: center;
}
@media (max-width: 1556px) {
  .hero .container {
    justify-content: space-between;
  }
}
.hero .container .col-2:first-child {
  width: 416px;
  height: 226px;
}
.hero .container .col-2 h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
}
.hero .container .col-2 h1 {
  font-family: "Crimson Text";
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  padding-top: 15px;
}
.hero .container .col-2 p {
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  color: rgba(255, 255, 255, 0.75);
  padding-top: 15px;
}
.hero .container .col-2 a button {
  width: 170px;
  height: 48px;
  margin-top: 25px;
  background: #ffffff;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.hero .container .col-2 a button:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}
@media (max-width: 1024px) {
  .hero {
    margin-top: 11.7%;
  }
  .hero .container {
    padding: 17px 20px 0;
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero .container .col-2:first-child {
    margin-top: 30px;
    width: 335px;
    height: 288px;
  }
  .hero .container .col-2 h1 {
    font-size: 28px;
  }
  .hero .container .col-2 img {
    width: 335px;
    height: 196.61px;
  }
}
@media (max-width: 768px) {
  .hero {
    margin-top: 7.7%;
  }
}
@media (max-width: 320px) {
  .hero {
    margin-top: 17.3%;
  }
  .hero .container .col-2:first-child {
    width: 300px;
  }
  .hero .container .col-2 img {
    width: 300px;
  }
}
/* end hero */

/* start partners */
.partners,
.text-area {
  padding: 60px 135px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
}
.partners .container,
.text-area .container {
  width: 411px;
  height: 162px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.partners .container h3,
.text-area .container h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #74c69d;
}
.partners .container h1,
.text-area .container h1 {
  font-family: "Crimson Text";
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-align: center;
  color: #000000;
  text-transform: capitalize;
}
.partners .container p,
.text-area .container p {
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  color: #000000;
}
.partners .partners-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 68px;
}
.btn {
  width: 170px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  background: #000000;
  color: #ffffff;
  border-radius: 5px;
  border: none;
}
@media (max-width: 1024px) {
  .partners .partners-icons {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .partners,
  .text-area {
    padding: 22px 20px 0;
  }
  .partners .container,
  .text-area .container {
    width: 100%;
    height: 167px;
  }
  .partners .partners-icons {
    flex-direction: column;
    gap: 40px;
  }
}
/* end partners */

/* start main */
.main-section {
  padding: 73px 135px 0;
}
.main-section .col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 52px;
}
@media (max-width: 1556px) {
  .main-section .col-2 {
    justify-content: space-between;
  }
}
.main-section .col-2 .container h1 {
  width: 462px;
  height: 100px;
  font-family: "Crimson Text";
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: #212529;
}
.main-section .col-2 .container p {
  width: 470px;
  height: 75px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  color: rgba(33, 37, 41, 0.5);
  margin: 16px 0;
}
.main-section .col-2 .container .btn {
  margin-top: 16px;
}
.main-section .col-2:last-child {
  flex-direction: row-reverse;
  margin-top: 73.57px;
}
@keyframes upDown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.main-section .col-2 img {
  animation: upDown 3s linear infinite;
}
@media (max-width: 1024px) {
  .main-section .col-2 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .main-section {
    padding: 60px 20px 0;
  }
  .main-section .col-2 {
    flex-direction: column;
    gap: 20px;
  }
  .main-section .col-2 .container {
    width: 300px;
  }
  .main-section .col-2 .container h1 {
    width: 334px;
    height: 60px;
    font-size: 24px;
  }
  .main-section .col-2 .container p {
    width: 334px;
    height: 95px;
  }
  .main-section .col-2:last-child {
    flex-direction: column;
  }
  .main-section .col-2 img {
    width: 300px;
  }
}
@media (max-width: 375px) {
  .main-section .col-2 img {
    width: 250px;
  }
  .main-section .col-2 .container p {
    width: 280px;
    height: 95px;
  }
  .main-section .col-2:last-child .container p {
    margin-bottom: 46px;
  }
}
/* end main */

/* start team */
.team {
  padding: 100px 135px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}
.team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 404px;
  height: 162px;
  text-align: center;
}
.team .container h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #74c69d;
}
.team .container h1 {
  font-family: "Crimson Text";
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: #212529;
}
.team .container p {
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  color: #000000;
}
.team .employees {
  display: flex;
  gap: 47px;
}
.team .employees .cart {
  width: 279px;
  height: 299px;
  background: #ffffff;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transition: 0.5s;
}
.team .employees .cart:hover {
  transform: translateY(-10px);
}
.team .employees .cart .cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
  padding: 20px 38px;
}
.team .employees .cart .cart-container img {
  width: 175px;
  height: 175px;
}
.team .employees .cart .cart-container .description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
}
.team .employees .cart .cart-container .description h2 {
  font-family: "Crimson Text";
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  color: #212529;
}
.team .employees .cart .cart-container .description p {
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  color: rgba(33, 37, 41, 0.75);
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .team .employees {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .team .container {
    width: 335px;
    height: 167px;
  }
  .team .container h1 {
    font-size: 24px;
  }
}
/* end team */
/* end home page */

/* start footer */
footer {
  background: #74c69d;
  margin-top: 54px;
  padding: 50px 135px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .social-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .container .copyright {
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  text-align: right;
  color: #ffffff;
}
@media (max-width: 1024px) {
  footer {
    padding: 30px 0;
  }
  footer .container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  footer .container .copyright {
    text-align: center;
  }
}
/* end footer */

/* start portfolio page */
/* start works */
.mt-120 {
  margin-top: 120px;
}
/* end works */

/* start projects */
.projects {
  padding: 80px 135px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.projects .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}
.projects .container .project {
  transition: 0.5s;
}
.projects .container .project:hover {
  transform: translateY(-10px);
}
.projects .center-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1024px) {
  .projects .container a img {
    width: 335px;
    height: 196.62px;
  }
}
@media (max-width: 768px) {
  .mt-120 {
    margin-top: 55px;
  }
  .projects .container {
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  .projects .container a img {
    width: 300px;
    height: 161.62px;
  }
}
/* end projects */
/* end portfolio page */

/* start services page */
.services {
  display: flex;
  gap: 105px;
  padding: 80px 135px 0;
  flex-wrap: wrap;
  justify-content: center;
}
.services .col-3 {
  display: flex;
  padding: 46px 30px;
  gap: 10px;
  width: 339px;
  height: 542px;
  background: #ffffff;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transition: 0.5s;
}
.services .col-3:hover {
  transform: translateY(-10px);
}
.services .col-3 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
}
.services .col-3 .container .upper-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.services .col-3 .container .upper-cart .justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 159px;
  height: 69px;
}
.services .col-3 .container .upper-cart .justify-center p {
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  color: #000000;
  text-transform: capitalize;
}
.services .col-3 .container .upper-cart .justify-center .price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  width: 159px;
  height: 50px;
}
.services .col-3 .container .upper-cart .justify-center .price span {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: #000000;
}
.services .col-3 .container .upper-cart .justify-center .price p,
.services .col-3 .container .upper-cart p {
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  color: rgba(33, 37, 41, 0.5);
  text-align: center;
  text-transform: lowercase;
}
.services .col-3 .container .bottom-cart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  margin-right: 76px;
}
.services .col-3 .container .bottom-cart .wrapper {
  display: flex;
  align-items: center;
  gap: 11px;
  width: 203px;
  height: 25px;
}
.services .col-3 .container .bottom-cart .wrapper img {
  width: 25px;
  height: 25px;
}
.services .col-3 .container .bottom-cart .wrapper p {
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  text-align: center;
  color: #212529;
}
@media (max-width: 1024px) {
  .services .col-3 {
    padding: 12px;
  }
}
/* end services page */

/* start contact */
.contact {
  padding: 70px 135px 0;
}
.contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}
@media (max-width: 1556px) {
  .contact .container {
    justify-content: space-between;
    gap: 30px;
  }
}
.contact .container .col-2:first-child form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
}
.contact .container .col-2:first-child form .row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.contact .container .col-2:first-child form .row label {
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: #000000;
}
.contact .container .col-2:first-child form .row input {
  width: 575px;
  height: 38px;
  background: #eeeeee;
  border: 1px solid #000000;
  border-radius: 5px;
}
.contact .container .col-2:first-child form .row #message {
  height: 75px;
}
.contact .container .col-2:first-child form button {
  width: 575px;
  height: 48px;
}
@media (max-width: 1024px) {
  .contact .container {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .contact .container .col-2:first-child form .row input,
  .contact .container .col-2:first-child form button,
  .contact .container .col-2:last-child img {
    width: 335px;
  }
  .contact .container .col-2:first-child form .row #message,
  .contact .container .col-2:last-child img {
    height: 224px;
  }
}
@media (max-width: 375px) {
  .contact .container .col-2:first-child form .row input,
  .contact .container .col-2:first-child form button,
  .contact .container .col-2:last-child img {
    width: 300px;
  }
}
/* end contact */

/* ToTop */
.up {
  position: fixed;
  bottom: 10px;
  right: -50px;
  background: transparent;
  border: 2px solid #000000;
  color: #000000;
  font-weight: bold;
  font-size: 12px;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}
.up:hover {
  background: #000000;
  color: #ffffff;
  transform: translateY(-2px);
}
.up.show {
  right: 10px;
}
/* ToTop */
